* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #dee9fd;
}

.main__wrapper {
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
}

.main__wrapper .card {
    box-shadow: inset -5px -5px 5px rgba(255, 255, 255, 0.5),
    inset 5px 5px 5px rgba(163, 177, 198, 0.6),
    -5px -5px 5px rgba(255, 255, 255, 0.5),
    5px 5px 5px rgba(163, 177, 198, 0.6);
    display: flex;
    height: 400px;
    align-items: center;
    justify-content: center;
    padding: 0 0 0 100px;
    border-radius: 10px;
}

.main__wrapper .card .type {
    display: grid;
}

.main__wrapper .card .type button:first-child {
    margin-bottom: 50px;
}

.main__wrapper .card form {
    position: relative;
    min-height: 100%;
    margin-left: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 50px 70px;
}

.main__wrapper .card form::before {
    content: '';
    position: absolute;
    left: 0;
    height: 100%;
    width: 2px;
    box-shadow: -2px -2px 2px rgba(255, 255, 255, 0.5),
    2px 2px 2px rgba(163, 177, 198, 0.6);
}

.main__wrapper .card form input {
    outline: none;
    border: none;
    background: transparent;
    box-shadow: inset -2px -2px 2px rgba(255, 255, 255, 0.5),
    inset 2px 2px 2px rgba(163, 177, 198, 0.6);
    padding: 10px 20px;
    border-radius: 5px;
}

button {
    height: 50px;
    width: 120px;
    margin: 10px;
    font-size: 0.9rem;
    font-weight: 600;
    cursor: pointer;
    border-radius: 10px;
    transition: box-shadow 200ms linear;
    box-shadow: -5px -5px 5px rgba(255, 255, 255, 0.5),
    5px 5px 5px rgba(163, 177, 198, 0.6);
    border: none;
    background-color: #dee9fd;
    outline: none;
}

button:hover {
    box-shadow: -2px -2px 5px rgba(255, 255, 255, 0.5),
    2px 2px 5px rgba(163, 177, 198, 0.6);
}

.video__item {
    width: 50%;
    object-fit: contain;
}

.chat {
    position: fixed;
    bottom: 20px;
    right: 20px;
    height: 400px;
    width: 300px;
    box-shadow: inset -5px -5px 5px rgba(255, 255, 255, 0.5),
    inset 5px 5px 5px rgba(163, 177, 198, 0.6),
    -5px -5px 5px rgba(255, 255, 255, 0.5),
    5px 5px 5px rgba(163, 177, 198, 0.6);
    padding-top: 10px;
    background-color: #dee9fd;
}

.chat form {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.chat form input {
    outline: none;
    border: none;
    background: transparent;
    box-shadow: inset -3px -3px 3px rgba(255, 255, 255, 0.5),
    inset 3px 3px 3px rgba(163, 177, 198, 0.6);
    padding: 10px 20px;
    border-radius: 5px;
    width: 100%;
}

.chat .msg {
    width: 80%;
    padding: 5px 10px;
    box-shadow: -3px -3px 3px rgba(255, 255, 255, 0.5),
    3px 3px 3px rgba(163, 177, 198, 0.6);
    margin: auto;
    margin-top: 10px;
}

.chat .msg .name {
    color: gray;
    text-align: right;
    font-size: small;
}

.bottomBar {
    position: fixed;
    bottom: 10px;
    margin: auto;
    left: 50%;
    transform: translateX(-50%);
}

.bottomBar .room-id {
    text-align: center;
    cursor: pointer;
}

.bottomBar .room-id:hover {
    color: blue;
}